body {
  font-family: 'Manrope', sans-serif;
  background: #f5f5f7;
  margin: 0;
  padding: 0;
}

.cart-container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

.cart-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.cart-box {
  background: white;
  padding: 25px;
  border-radius: 22px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
  margin-bottom: 25px;
}

/* PRODUCT ITEM */
.cart-item {
  display: flex;
  align-items: center;
  padding: 18px 15px;
  border-radius: 20px;
  margin-bottom: 18px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.cart-item img {
  width: 85px;
  border-radius: 10px;
  margin-right: 20px;
}

.item-info {
  flex: 1;
}

.item-info h3 {
  font-size: 18px;
  margin-bottom: 4px;
}

.item-info p {
  margin: 2px 0;
  color: #555;
  font-size: 14px;
}

.item-price {
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-controls button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: #f1f1f1;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.qty-number {
  width: 20px;
  text-align: center;
  font-size: 16px;
}

.delete-btn {
  font-size: 20px;
  color: red;
  cursor: pointer;
  margin-left: 15px;
}

.checkout-btn {
  width: 100%;
  background: #1e3a8a;
  color: #fff;
  padding: 16px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.checkout-btn:hover {
  opacity: 0.85;
}
